{% extends "base.html" %} <!-- atencao aqui -->
{% block conteudo %}
  <h1>Lista de compras</h1>
  <ul>
    <li> Leite! </li>
    <li> Macarrão</li>
  </ul>
{% endblock %}
{#
#python (chamou) template compras_v3 (extendeu) base.html
#renderizamos um html que é o base.html, preenchido com coisas do 
#compras_v3

#Como foi feita essa "ligação" ?

#O arquivo compras_v3 avisou que ia extender o arquivo base, 
#e separou um "block" pra preencher o base

#compras_v3: {% extends "base.html" %} -- eu quero completar o base.html
#compras_v3 {% block content %} coisas {% endblock %}


# criei um bloco no compras_v3, e indiquei, no base.html, o que fazer com esse bloco
# base.html: <div id="content">{% block content %}{% endblock %}</div>
# no caso, colocar dentro de um div
#}
