Esse html tem "buracos" para variaveis. A gente chama isso de template


<ul>
  {% for item in lista_compras %} <!-- comandos sao especificados dessa forma -->
    <li>{{ item }}</li>    <!-- mostrar variaveis, dessa forma  -->
  {% endfor %} <!-- No python normal, a gente usa identação pra marcar o fim
  do for. Aqui, a gente precisa usar esse comando explicito-->
</ul>


<!-- 
  HTML com sintaxe extra para "preencher" com variáveis passadas pelo código python
  para eu abrir um comando, eu escrevo chave+porcento (como a gente pode ver na linha 5)

  para eu imprimir uma variavel no código html, chave+chave (como na linha 6)
  
  veja na funçao compras_template, 
  do arquivo templates_teoria
  que eu passei uma lista nessa variavel
  lista_compras

  render_template
  render = desenhar em ingles
  template é o nome desses html "personalizaveis"
  da biblioteca flask

  sintaxe especifica de uma biblioteca de templates chamada jinja2,
que o flask usa
-->
